
@media only screen and (max-width:1199px){


    .intro-header p{
        font-size:44px;
        width: 70%;
    }

}


@media only screen and (max-width:991px){

    .intro-header{
        height: 40%;
    }
    .intro-header p{
        font-size:40px;
    }

}

@media only screen and (max-width:767px){


    .intro-header p{
        font-size:36px;
        width: 90%;
    }

}


@media only screen and (max-width:575px){
    .intro-header p{
        width: 100%;
    }

}
