/* BASIC SETUP */

* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
      font-family: 'Barlow Semi Condensed', sans-serif;
}

/* REUSABLE COMPONENTS */






/* HEADER */
.page-header{
}
.nav-bar{
    background-color: #00ba7f;
    height: 97px;
}
.nav-bar > img{
    margin-left: 34px;
    margin-right: 0;
}

.nav-text{
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
}
.nav-text > img{
    margin-right: 10px;
}

.nav-box{
    margin-right: 2em;
    background-color: #00ba7f;
}
.text-link{
    margin:auto 0.5em;
}
.lang-link{
    margin: auto 0.25em;
}

/* SECTION ONE - INTRO */
.intro-section{
    background-image:url(img/overlay.png), url(img/bg-left.png), url(img/bg-full.png); /*add filter*/
    background-repeat: no-repeat;
    background-position: top left, top left,top left;
    height: 725px;
    position: relative;
}

.intro-header{
    height: 70%;
}

.intro-header div{

    transform:translateY(50%);

}
.intro-header p{
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: "Nunito",'sans-serif';
    font-size:3.75vw;
    line-height: 1.25em;
    font-weight: 700;
    color:white;
    width: 50%;
}
form{
    width: 95%;
    margin: auto;
    position: absolute;
    bottom:32px;
    left:2.5%;
    background-color: rgba(249, 250, 249, 0.85);
    font-size: 17px;
    font-weight: 400;
    font-family: 'Barlow Semi Condensed', sans-serif;

}
form label{
    display: block;
}
.form-item{
    display: inline-block;
}
.form-container > .form-item{
    margin: 25px 0;
}

.middle-item{
    height: 70px;
    position: relative;
}

.middle-item a,
.middle-item > img{
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;

}
.middle-item > img{
    transform: translateY(50%);
}
#amount{
    width: 50%;
}

.search{
    transform: translateY(-50%);
}
.middle-item:last-child{
    background-color: #00ba7f;
    height: 137px;
    margin:0 15px 0 auto;
    font-family: 'Nunito', 'sans-serif';
    font-size:18px;
}
/* SECTION TWO - FEATURES */

.single-feature-content{
color: #252e2d;
font-family: 'Nunito', 'sans-serif';
font-size: 22px;
font-weight: 700;
}

.single-feature{
    height: 227px;
    border: 1px solid  #d5dddc;
    position:relative;

}

.single-feature > div{
   padding-top:80px;
    cursor: pointer;
}

.single-feature .img-container,
.single-feature .description-container{
    height: 70px;
    position: relative;
}

.img-container img,
.description-container p{
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* SECTION THREE - TEXT */
.text-section{
    background-color: #f4f6f6;
}

.text-container{

}
.text-box{
    padding: 0 10px;
    margin:100px 0;
}
.text-box p,
.text-box h3{
    margin:0 auto;
}
.text-box h3{
font-family: 'Nunito', 'sans-serif';
font-size: 30px;
font-weight: 700;

}
.text-box p{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h3 span{
    color:#00ba7f;
}

/* FOOTER */

.footer-container{
    padding:96px 0 111px 0;
}
.list li{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 2em;
}
.find-us,
.list li:first-child{
    font-family: 'Nunito', 'sans-serif';
    font-size: 17px;
    font-weight: 700;
}

.list li:first-child{
    line-height: 1em;
}

.copy{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #859492;
}

.images li{
    border: 2px solid transparent;
}

